h3 {
    text-align: center;
}
.AssignedEvents ul {
    text-align: center;
    list-style-type: none;
    border: solid rgb(156, 121, 156);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.LogOutButton {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 4em;
}